/.github/           export-ignore
/tests/             export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist   export-ignore
/.phpstan-cache/    export-ignore
/.phpunit.cache/    export-ignore
/coverage/          export-ignore
